<ion-header>
  <ion-toolbar>


    <!-- Searchbar with value -->


    <ion-title>Transaction</ion-title>
    <!-- <ion-buttons slot="secondary"> -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end" fill="clear" size="large">
      <ion-icon name="save"></ion-icon>
    </ion-button>
    <!-- <ion-button slot="secondary" ><ion-icon name="save"></ion-icon></ion-button> -->
    <!-- </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      With you and :
      &nbsp; <ion-input placeholder="Enter Name, Email or Phone no"></ion-input>
    </ion-item>

   


    <ion-item>
    
      <ion-label position="floating" fixed>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  Enter Description</ion-label>
      
      <ion-input type="text"><ion-icon size="large" name="clipboard" ></ion-icon></ion-input>
    </ion-item>
      

<ion-item>
    
  <ion-label position="floating" fixed>  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; Amount</ion-label>
  
  <ion-input type="text"><ion-icon size="large" name="cash" ></ion-icon></ion-input>
</ion-item>

<ion-item>
    
  <ion-label position="floating" fixed>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; Date</ion-label>
  
  <ion-input type="date" placeholder="Date" value=""><ion-icon size="large" name="calendar" ></ion-icon></ion-input>
</ion-item>







    
    <ion-list>
      <ion-list-header>Category</ion-list-header>

      <ion-item>
        <ion-label>Split Type</ion-label>
        <ion-select value="brown" okText="Okay" cancelText="Cancel">
          <ion-select-option value="brown">Equally</ion-select-option>
          <ion-select-option value="blonde">Unequally</ion-select-option>
          <ion-select-option value="black">Paid by him</ion-select-option>
          <ion-select-option value="red">Paid by you</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Portion</ion-label>
        <!-- <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One"> -->
          <!-- <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option> -->
          
        <!-- </ion-select> -->
        
        <ion-button text  fill="outline" block (click)="presentAlert()">
          Select Portion
        </ion-button>
        
        <ion-button text  fill="outline" block (click)="presentPopover()">
          POPOVER
        </ion-button>
        
      </ion-item>
      <!-- <ion-content padding>
        <h2>Prompt Alert</h2>
        <ion-button block (click)="presentAlertConfirm()">
          Show Prompt Alert
        </ion-button>
      </ion-content> -->

      <!-- <ion-item>
        <ion-label>Action Sheet</ion-label>
        <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select One">
          <ion-select-option value="red">Red</ion-select-option>
          <ion-select-option value="purple">Purple</ion-select-option>
          <ion-select-option value="yellow">Yellow</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
          <ion-select-option value="green">Green</ion-select-option>
        </ion-select>
      </ion-item> -->
      <ion-card>
        <ion-card-header>
          Category
        </ion-card-header>

        <ion-list>
          <ion-button fill="clear">
            <ion-icon name="cart" item-start></ion-icon>
            Shopping
          </ion-button>
          <ion-button fill="clear">
            <ion-icon name="cart" item-start></ion-icon>
            Food
          </ion-button>

          <ion-button fill="clear">
            <ion-icon name="medical" item-start></ion-icon>
            Health
          </ion-button>

          <ion-button fill="clear">
            <ion-icon name="cafe" item-start></ion-icon>
            Cafe
          </ion-button>
          <ion-button fill="clear">
            <ion-icon name="paw" item-start></ion-icon>
            Pet Care
          </ion-button>

          <ion-button fill="clear">
            <ion-icon name="beer" item-start></ion-icon>
            Beverages
          </ion-button>

          <ion-button fill="clear">
            <ion-icon name="call" item-start></ion-icon>
            Phone Bills
          </ion-button>
          <ion-button fill="clear">
            <ion-icon name="planet" item-start></ion-icon>
            Transfer
          </ion-button>
          <ion-button fill="clear">
            <ion-icon name="planet" item-start></ion-icon>
            Travel
          </ion-button>
          <ion-button fill="clear">
            <ion-icon name="bus" item-start></ion-icon>
            Transport
          </ion-button>

        </ion-list>
      </ion-card>

    </ion-list>
  </ion-list>

</ion-content>