// ion-content{
//     --ion-background-color: rgb(238, 203, 175);
// }

// ion-row{
//     margin-left: -22px;  
// }
img{
    border-radius: 10px;
    width:150px;
    height:100;

}
h4{
    color:black;
}

ion-card{
    border:1px ridge rgb(119, 117, 117);
}

ion-item{
    font-size:large;
}