<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <!-- <ion-menu-button style="color:white;"></ion-menu-button> -->
      <h6><ion-icon name="chevron-back-outline" (click)="goBack()"></ion-icon></h6>
    </ion-buttons>
    &emsp;&nbsp;&nbsp;&nbsp;&nbsp;{{language}}
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card *ngFor="let c of data" (click)="details(c)" > 
  <ion-item lines="none">
 
  {{c.chapter}}
    <ion-icon name="caret-forward-outline" slot="end" color="primary"></ion-icon>

</ion-item>
</ion-card>




</ion-content>

<ion-footer>
  <ion-toolbar>
<ion-tabs >
  <ion-tab-bar slot="bottom"  >
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <!-- <ion-label>tab 1</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="categories" >
      <ion-icon name="book"></ion-icon>
      <!-- <ion-label>tab 2</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="notifications" >
      <ion-icon name="notifications-sharp"></ion-icon>
      <!-- <ion-label>tab 3</ion-label> -->
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>
</ion-footer>