<ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1 style="font-family:Wide Latin;text-align: center;font-weight: bold;font-size: xx-large;">Welcome to CodeHub</h1>
<img style="display: block;  margin-left: auto;margin-right: auto;width: 80%;" src="../../assets/images/books.png">
<br/>
<!-- <ion-icon name="log-in"></ion-icon> -->

<!-- <ion-button [routerLink]='["/login"]' expand="block">Login</ion-button>  -->
<!-- <ion-button [routerLink]='["/register"]' expand="block">Register</ion-button> -->
<ion-grid>
  <ion-row justify-content-around>
    <ion-col>

    </ion-col>
    <ion-col>
      <ion-icon  color="primary" name="arrow-forward-circle" style="zoom:4.0;cursor: pointer;text-align:center" (click)="checkSession()"></ion-icon>

    </ion-col>
    <ion-col>
      
    </ion-col>
  </ion-row>
</ion-grid>
<br/>

          <p style="text-align:center;color:darkgray;font-family: Apple Chancery;" >Happy learning.....<ion-icon name="pencil"  ></ion-icon></p>
      


</ion-content>
