<ion-list class="ion-no-margin ion-no-padding">  
  <ion-list-header color="dark" class="text-10">  
    <ion-label class="fw700">Split Type</ion-label>  
  </ion-list-header>  

  <div *ngFor="let item of name">
    <ion-item  class="text-9">  
      <ion-grid>
        <ion-row>
          <ion-col size="7">
            <label>{{item}}</label>
          </ion-col>
          <ion-col size="5">
            <ion-input style=" width: 60px;border: 2px solid green;" type="number"	size="number"></ion-input>
          </ion-col>
        </ion-row>
       </ion-grid>
    </ion-item> 
  </div> 
  
  <!-- <ion-item color="light" class="text-10">  
    <ion-icon name="mail-open" color="primary"></ion-icon>  
    <ion-label>New Offer 15% OFF by month!</ion-label>  
  </ion-item>  

  <ion-item color="secondary" class="text-10">  
    <ion-icon name="mail" color="light"></ion-icon>  
    <ion-label>New Offer 45% OFF</ion-label>  
  </ion-item>  

  <ion-item color="light" class="text-10">  
    <ion-icon name="mail-open" color="primary"></ion-icon>  
    <ion-label>New Offer 25% OFF on Credit Card!</ion-label>  
  </ion-item>  

  <ion-item color="light" class="text-10">  
    <ion-icon name="mail-open" color="primary"></ion-icon>  
    <ion-label>New Offer 20% OFF by month!</ion-label>  
  </ion-item>   -->
</ion-list>  