<ion-header>
	<ion-toolbar>
		<ion-title>Comparison</ion-title>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-tabs>
		<ion-tab-bar slot="top">
			<ion-tab-button tab="month">
				<ion-icon  name="calendar"></ion-icon>
				<ion-label>Monthly Spend</ion-label>
			</ion-tab-button>

			<ion-tab-button tab="category">
				<ion-icon name="cash"></ion-icon>
				<ion-label>Spend in Catrgory</ion-label>
			</ion-tab-button>

			<ion-tab-button tab="compare">
				<ion-icon color="primary" name="arrow-down"></ion-icon>
				<ion-label>Compare Reports</ion-label>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs>

	<ion-card class="welcome-card" style="position: relative; top: 60px ">
		<ion-card-header>
			<ion-card-title>Monthly Expenditure</ion-card-title>
			<ion-card-subtitle>Amount Spend In Category</ion-card-subtitle>
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-select
							(ionChange)="onMonthChangeCat()"
							placeholder="Select Month"
						>
							<ion-select-option value="2019"
								>January</ion-select-option
							>
							<ion-select-option value="2020"
								>February</ion-select-option
							>
							<ion-select-option value="2020"
								>March</ion-select-option
							>
							<ion-select-option value="2020"
								>April</ion-select-option
							>
							<ion-select-option value="2020"
								>May</ion-select-option
							>
							<ion-select-option value="2020"
								>June</ion-select-option
							>
							<ion-select-option value="2020"
								>July</ion-select-option
							>
							<ion-select-option value="2020"
								>August</ion-select-option
							>
							<ion-select-option value="2020"
								>September</ion-select-option
							>
							<ion-select-option value="2020"
								>October</ion-select-option
							>
							<ion-select-option value="2020"
								>November</ion-select-option
							>
							<ion-select-option value="2020"
								>December</ion-select-option
							>
						</ion-select>
					</ion-col>
					<ion-col>
						<ion-select
							(ionChange)="onYearChangeCat()"
							placeholder="Select Year"
						>
							<ion-select-option value="2019"
								>2019</ion-select-option
							>
							<ion-select-option value="2020"
								>2020</ion-select-option
							>
						</ion-select>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-header>
		<ion-card-content>
			<ion-spinner *ngIf="!catChartLoaded" name="crescent"> </ion-spinner>
			<canvas #pieChart height="250"></canvas>
		</ion-card-content>
	</ion-card>
</ion-content>

<ion-backdrop *ngIf="!catChartLoaded"></ion-backdrop>
