<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      
      <h6><ion-icon name="chevron-back-outline" (click)="goBack()"></ion-icon></h6>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
  
  <ion-label>{{this.afAuth.auth.currentUser.email}}</ion-label>
</ion-item> -->

<ion-card style="text-align: center;margin-top: 10%;border:1px solid rgb(170, 203, 228);">
  <ion-avatar style="zoom:2.5;margin: 4% 30%;" >
    <img src="https://www.pngitem.com/pimgs/m/80-800194_transparent-users-icon-png-flat-user-icon-png.png" />
    <!-- <div style="border:1px solid white;height:100%;"> </div> -->
  </ion-avatar>
  <ion-card-title *ngIf="user">{{user.name}}</ion-card-title>
  <ion-card-content>
<ion-item>
  <ion-icon name="mail" slot="start"></ion-icon>
  <ion-label>{{email}}</ion-label>
</ion-item>
<ion-item *ngIf="user">
  <ion-icon name="call" slot="start"></ion-icon>
  <ion-label>{{user.mobile}}</ion-label>
</ion-item>

</ion-card-content>
</ion-card>

<ion-item style="text-align: center;margin: 5% 25%;cursor: pointer;" lines="none" (click)="changePassword()">
  <ion-icon name="key"></ion-icon>
  <ion-label> Change Password</ion-label>
</ion-item>

</ion-content>
