<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <h6>
        <ion-icon name="chevron-back-outline" (click)="goBack()"></ion-icon>
      </h6>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card-content style="text-align: center;">
    <form [formGroup]="registeredData" (ngSubmit)="registere()" >
    <ion-item color="none">
    <ion-label position="floating">Name <span>*</span></ion-label>
    <ion-input formControlName="name" required></ion-input>
  </ion-item>
  <ion-item color="none">
    <ion-label position="floating">Email Id <span>*</span></ion-label>
    <ion-input type="email" formControlName="email" required></ion-input>
  </ion-item>
  <ion-item color="none">
    <ion-label position="floating">Password <span>*</span></ion-label>
    <ion-input type="password" formControlName="password" required></ion-input>
  </ion-item>
  <ion-item color="none">
    <ion-label position="floating">Confirm Password <span>*</span></ion-label>
    <ion-input type="password" formControlName="cpassword" required></ion-input>
  </ion-item>
  <ion-item color="none">
    <ion-label position="floating">Mobile Number <span>*</span></ion-label>
    <ion-input formControlName="mobile" required></ion-input>
  </ion-item>
  <br/>
  <ion-button type="submit"  expand="block"  shape="round" [disabled]="!registeredData.valid">Register</ion-button>
  <ion-button type="reset" color="warning" expand="block"  shape="round">Reset</ion-button>
  Already registered? <a [routerLink]='["/login"]' >Log In</a>
</form>
</ion-card-content>

</ion-content>
